@page
@model PRN222.Assignment.Razor.Admin.Pages.ComboOrder.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrderCombo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderCombo.OrderId" class="control-label"></label>
                <select asp-for="OrderCombo.OrderId" class ="form-control" asp-items="ViewBag.OrderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderCombo.ComboId" class="control-label"></label>
                <select asp-for="OrderCombo.ComboId" class ="form-control" asp-items="ViewBag.ComboId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderCombo.UnitPrice" class="control-label"></label>
                <input asp-for="OrderCombo.UnitPrice" class="form-control" />
                <span asp-validation-for="OrderCombo.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
